<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955612177362-e33300phinfduvc5kkoc2vghje6fj723.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955612177362-e33300phinfduvc5kkoc2vghje6fj723</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955612177362-qlqcna9dqlu96c0n7ft2guue9gva0jne.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBt-o2m_RJe6sgAKlGxkKBwh1DIztbnyU</string>
	<key>GCM_SENDER_ID</key>
	<string>955612177362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sujitchanda.flutter-sendbird</string>
	<key>PROJECT_ID</key>
	<string>flutter-sendbird-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sendbird-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955612177362:ios:5e5ade65b1c240936e9e0b</string>
</dict>
</plist>